/* Body */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.container {
  display: flex;
}

/* Header */
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
}

.logo {
  float: left;
  margin-left: 10px;
  height: 50px;
}

nav {
  width: 75%;
  text-align: right;
}

span a {
  text-decoration: underline;
  color: seashell;
}
